/*
    ##Device = Monitors
    ##Screen = 1920px to higher resolution desktops
*/
@media (min-width: 1601px) {
    .Background {
	    padding: 10em;
    }
}
/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 401px) and (max-width: 767px) {
    .Home-UT-Intro, .Home-Mech-Intro, .ModeGame-WK-Intro, .ModeGame-Journey-Intro, .Stage-PS4-Intro, .Stage-XBOX-Intro, .Stage-PC-Intro, .Home-UT-Header, .Home-WK-Header, .Home-Mech-Header, .Home-About-Header, .ModeGame-UT-Header, .ModeGame-WK-Header, .ModeGame-Journey-Header, .ModeGame-Career-Header, .Stage-PS4-Header, .Stage-XBOX-Header, .Stage-PC-Header {
	    flex-basis: 100%;
    }
    .Home-UEFA-Intro, .Home-WK-Intro, .Home-About-Intro, .ModeGame-UT-Intro, .ModeGame-Career-Intro {
        flex-basis: 100%;
        margin-bottom: 1em;
    }
    video, .Home-Mech-Header > img, .Home-About-Header > img, .ModeGame-UT-Header > img, .ModeGame-WK-Header > img, .ModeGame-Journey-Header > img, .ModeGame-Career-Header > img, .Stage-PS4-Header > img, .Stage-XBOX-Header > img, .Stage-PC-Header > img {
	    width: 100%;
	    height: 100%;
    }
}

@media (max-width: 400px) {
    .Home-UT-Intro, .Home-Mech-Intro, .ModeGame-WK-Intro, .ModeGame-Journey-Intro, .Stage-PS4-Intro, .Stage-XBOX-Intro, .Stage-PC-Intro, .Home-UT-Header, .Home-WK-Header, .Home-Mech-Header, .Home-About-Header, .ModeGame-UT-Header, .ModeGame-WK-Header, .ModeGame-Journey-Header, .ModeGame-Career-Header, .Stage-PS4-Header, .Stage-XBOX-Header, .Stage-PC-Header {
	    flex-basis: 100%;
    }
    .Home-UEFA-Intro, .Home-WK-Intro, .Home-About-Intro, .ModeGame-UT-Intro, .ModeGame-Career-Intro {
        flex-basis: 100%;
        margin-bottom: 1em;
    }
    video, .Home-Mech-Header > img, .Home-About-Header > img, .ModeGame-UT-Header > img, .ModeGame-WK-Header > img, .ModeGame-Journey-Header > img, .ModeGame-Career-Header > img, .Stage-PS4-Header > img, .Stage-XBOX-Header > img, .Stage-PC-Header > img {
	    width: 100%;
	    height: 100%;
    }
    .Background {
	    padding: 2em;
    }
}

