* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
    font-size: 0.5rem;
}

header {
	display: flex;
	flex-flow: row;
	justify-content: center;
	text-align: center;
    align-items: center;
    margin: 2em;
}

.header-a, .header-a-logo {
	height: 6em;
	width: 6em;
}

nav {
	margin-left: 1.5em;
}

h1
{
	margin: 0.25em 0;
	text-transform: capitalize;
}

.nav-menu, .footer-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 0.5em;
}

.nav-menu-list {
	cursor: pointer;
	color: #ddd;
	background-color: #00a00f;
	border: 2px solid #000;
	border-radius: 8px;
	margin: 0.25em;
    padding: 0.25em;
}

.Home {
	display: flex;
	flex-flow: column;
	align-items: center;
	color: white;
}

video {
	width: calc(100% - 2em);
	height: 100%;
	margin: 1em;
}

.Home-UT, .Home-WK, .Home-Mech, .Home-About {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.Home-Left {
	flex-basis: 10%;
}

.Home-Right {
	flex-basis: 10%;
}

@keyframes GoUp {
	0% {
		transform: scale(1);
	} 12.5% {
		transform: scale(1.1);
	} 25% {
		transform: scale(1.2);
	} 37.5% {
		transform: scale(1.1);
	} 50% {
		transform: scale(1);
	} 62.5% {
		transform: scale(0.9);
	} 75% {
		transform: scale(0.8);
	} 87.5% {
		transform: scale(0.9);
	} 100% {
		transform: scale(1);
	}
}

.Home-UT-Left, .Home-WK-Left, .Home-Mech-Left, .Home-About-Left {
	animation: GoUp 1.5s ease-in infinite;
}

.Home-UT-Right, .Home-WK-Right, .Home-Mech-Right, .Home-About-Right {
	animation: GoUp 1.5s ease-in infinite;
}

.Home-UT-1 {
	background: url("../img/homeUT1.jpg") no-repeat;
}.Home-UT-2 {
	background: url("../img/homeUT2.jpg") no-repeat;
}.Home-UT-3 {
	background: url("../img/homeUT3.jpg") no-repeat;
}

.Home-WK-1 {
	background: url("../img/homeWK1.jpg") no-repeat;
}.Home-WK-2 {
	background: url("../img/homeWK2.jpg") no-repeat;
}.Home-WK-3 {
	background: url("../img/homeWK3.jpg") no-repeat;
}

.Home-Mech-1 {
	background: url("../img/homeMech1.jpg") no-repeat;
}.Home-Mech-2 {
	background: url("../img/homeMech2.jpg") no-repeat;
}.Home-Mech-3 {
	background: url("../img/homeMech3.jpg") no-repeat;
}

.Home-About-1 {
	background: url("../img/homeabout.jpg") no-repeat;
}

.Home-UT-Intro, .Home-WK-Intro, .Home-Mech-Intro, .Home-About-Intro {
	flex-basis: 80%;
	background-size: cover;
	background-position: center;
	padding: 1em;
}

.Home-UT-Intro-Header {
	width: 50%;
	background-color: rgba(11, 51, 3, 0.5);
	width: 50%;
}

.Home-UT-Intro-Header > img {
	width: 10em;
	height: 10em;
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
	margin: 2em;
}

.footer-menu-list {
	display: block;
	text-decoration: none;
	color: #ddd;
	background-color: #00600b;
	border: 1px dashed #000;
	border-radius: 8px;
	padding: 0.25em;
	margin: 0.25em;
}