body
{
	background-color: #001a00;
	color: #DDDDDD;
	margin: 0;
}

@media screen and (min-width:3000px)
{
	h1{ height: 25vh; font-size: 120px;}
	#LogoEA{ width: 10%;}
	.menu{ font-size: 50px;}
	ol a{ font-size: 50px;}
	h2{font-size: 120px;}
	h4{font-size: 120px;}
	.home-article{ font-size: 80px; max-width: 100%;}
	article{ font-size: 80px; max-width: 100%;}
	.mode a{ max-width: 100%; max-height: 100%;}
	.mode img{ max-width: 100%; max-height: 100%;}
	main{ height: 100vh;}
	#player{ width: 120%;}
}

@media screen and (max-width:2600px)
{
	h1{ height: 25vh; font-size: 100px;}
	#LogoEA{ width: 10%;}
	.menu{ font-size: 40px;}
	ol a{ font-size: 40px;}
	h2{font-size: 80px;}
	h4{font-size: 80px;}
	.home-article{ font-size: 60px; max-width: 100%;}
	article{ font-size: 60px; max-width: 100%;}
	.mode a{ max-width: 100%; max-height: 100%;}
	.mode img{ max-width: 100%; max-height: 100%;}
	#player{ width: 100%;}
}

@media screen and (max-width:2000px)
{
	h1{ height: 20vh; font-size: 60px;}
	#LogoEA{ width: 8%;}
	.menu{ font-size: 30px;}
	ol a{ font-size: 30px;}
	h2{font-size: 70px;}
	h4{font-size: 70px;}
	.home-article{ font-size: 50px; max-width: 100%;}
	article{ font-size: 50px; max-width: 100%;}
	.mode a{ max-width: 100%; max-height: 100%;}
	.mode img{ max-width: 100%; max-height: 100%;}
	#player{ width: 100%;}
}

@media screen and (max-width:1500px)
{
	h1{ height: 23vh; font-size: 40px;}
	#LogoEA{ width: 8%;}
	.menu{ font-size: 20px;}
	ol a{ font-size: 20px;}
	h2{font-size: 40px;}
	h4{font-size: 40px;}
	.home-article{ font-size: 30px; max-width: 100%;}
	article{ font-size: 30px; max-width: 100%;}
	.mode a{ max-width: 100%; max-height: 100%;}
	.mode img{ max-width: 100%; max-height: 100%;}
	#player{ width: 100%;}
}

@media screen and (max-width:1100px)
{
	h1{ height: 23vh; font-size: 40px;}
	#LogoEA{ width: 8%;}
	.menu{ font-size: 15px;}
	ol a{ font-size: 15px;}
	h2{font-size: 40px;}
	h4{font-size: 40px;}
	.home-article{ font-size: 30px; max-width: 100%;}
	article{ font-size: 30px; max-width: 100%;}
	.mode a{ max-width: 100%; max-height: 100%;}
	.mode img{ max-width: 100%; max-height: 100%;}
	#player{ max-width: 40%;}
}

@media screen and (max-width:900px)
{
	h1{ height: 20vh; font-size: 30px;}
	#LogoEA{ width: 8%; padding: 20px;}
	.menu{ font-size: 15px;}
	ol a{ font-size: 15px;}
	h2{font-size: 40px;}
	h4{font-size: 30px;}
	.home-article{ font-size: 20px; max-width: 100%;}
	article{ font-size: 20px; max-width: 100%;}
	.mode a{ width: 100%; height: 10%;}
	.mode img{ width: 100%; height: 100%;}
	#player{ display: none;}
	#player2{ width: 40%;}
	main{ flex-direction: column;}
	section{ display: flex;}
}

@media screen and (max-width:600px)
{
	h1{ height: 22vh; font-size: 30px;}
	#LogoEA{ width: 8%;}
	.menu{ font-size: 10px;}
	ol a{ font-size: 10px;}
	h2{font-size: 30px;}
	h4{font-size: 18px;}
	.home-article{ font-size: 20px; max-width: 92%;}
	article{ font-size: 20px; max-width: 100%;}
	.mode a{ width: 100%; height: 10%;}
	.mode img{ width: 100%; height: 100%;}
	article{ font-size: 15px; max-width: 100%;}
	#player{ display: none;}
	#player2{ display: none;}
	main{ flex-direction: column;}
	section{ display: flex;}
}

@media screen and (max-width:400px)
{
	h1{ height: 20vh; font-size: 20px; max-width: 100%;}
	#LogoEA{ width: 8%;}
	.menu{ font-size: 10px; max-width: 29%;}
	ol a{ font-size: 10px;}
	h2{font-size: 25px;}
	h4{font-size: 18px;}
	.home-article{ font-size: 20px; max-width: 85%;}
	article{ font-size: 20px; max-width: 100%;}
	.mode a{ width: 100%; height: 10%;}
	.mode img{ width: 100%; height: 100%;}
	article{ font-size: 15px; max-width: 100%;}
	#player{ display: none;}
	#player2{ display: none;}
	main{ flex-direction: column;}
	section{ display: flex;}
	footer{ max-width: 100%;}
}

#LogoEA
{
	float: left;
}

h1
{
	text-align: center;
	background-image: linear-gradient(#00008b, #4b0082);
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 20px;
	font-family: "FreeMono", monospace;
}

.menu
{
	padding: 10px;
	float: left;
}

ol
{
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

ol a
{
	padding: 1px 3px 1px 3px;
	text-decoration: none;
	color: #ddd;
	display: block;
	background-color: #00a00f;
	border: 2px solid #000;
	border-radius: 8px;
}

ol a:hover
{
	background-color: #11b11f;
	color: #fff;
}

ol > li > ul
{
	list-style-type: none;
	font-size: 15px;
}

ol >li:hover > ul > li
{
	display:block;
}

ul > li:hover
{
	display:block;
}

ul > li
{
	list-style-type: none;
}

ul a
{
	padding-left: 3px;
	text-decoration: none;
	color: #ddd;
	display: block;
	background-color: #00600b;
	border: 1px dashed #000;
	border-radius: 8px;
}

ul a:hover
{
	background-color: #11b11f;
	color: #fff;
}

aside
{
	padding-bottom: 10px;
}

main
{
	display: flex;
}

h2
{
	font-family: "Comic Sans MS", Comic Sans, cursive;
}

.home-article
{
	padding: 10px;
	border: 2px solid #fff;
	width: 100%;
	text-align: center;
	font-family: "Andale Mono", monospace;
	border-radius: 100px;
}

.home-article a
{
	text-decoration: none;
}

#vs
{
	width: 120px;
}

.continue
{
	padding-left: 3px;
	text-decoration: none;
	color: #ddd;
	background-color: #00600b;
	border: 1px dashed #000;
	border-radius: 8px;
}

.continue:hover
{
	background-color: #11b11f;
	color: #fff;
}

@media screen and (min-width:901px)
{
	#player2{ display: none;}
}

footer
{
	background: linear-gradient(#00008b, #4b0082);
	clear:both;
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
}

/*//////// Site Mode Game //////*/

.mode
{
	display: flex;
	flex-wrap: wrap;
}

.mode a
{
	border: 5px solid #fff;
	text-align: center;
	font-size: 30px;
	border-radius: 1000px 1000px 1000px 1000px;
	text-decoration: none;
	color: #fff;
	display: flex;
	padding: 50px;
	margin: 30px 30px 50px 60px;
	background: radial-gradient(#DDEDDF,#001a00);
}

.mode a :hover
{
	background-color: #11b11f;
}

/*//////// Site Pro Clubs //////*/

.foto_article
{
	width: 50%;
}

h4
{
	text-align: center;
	background-image: linear-gradient(red,green,blue);
	color: #fff;
	margin: 0;
	border-radius: 10px 10px 10px 10px;
}
