* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 0.6rem;
	text-shadow: 1px 1px 1px grey, 2px 2px 2px grey;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	flex-flow: row;
	justify-content: center;
	text-align: center;
    align-items: center;
}

#EA_Sports2 {
	width: 6em;
	height: 6em;
}

#EA_Sports-Name {
	transform-origin: center;
	animation: Rotate 5s ease-in infinite;
}

.st0 {fill: url(#Circle-Moving_1_);}
.st1 {
	fill: #1B5BDD;
	stroke: #000000;
	stroke-miterlimit: 10;
}
.st2{fill: #FFFFFF;}
.st3{fill:#FCFAFA;}
.st4{fill:#F9F7F7;}
.st5{fill:#F2F2F2;}
.st6{fill:#F9F4F4;}

@keyframes Rotate {
	0% {
		transform: rotateY(0deg);
	} 5% {
		transform: rotateY(36deg);
	} 10% {
		transform: rotateY(72deg);
	} 15% {
		transform: rotateY(108deg);
	} 20% {
		transform: rotateY(144deg);
	} 25% {
		transform: rotateY(188deg);
	} 30% {
		transform: rotateY(216deg);
	} 35% {
		transform: rotateY(252deg);
	} 40% {
		transform: rotateY(288deg);
	} 45% {
		transform: rotateY(324deg);
	} 50% {
		transform: rotateY(360deg);
	} 55% {
		transform: rotateY(324deg);
	} 60% {
		transform: rotateY(288deg);
	} 65% {
		transform: rotateY(252deg);
	} 70% {
		transform: rotateY(216deg);
	} 75% {
		transform: rotateY(180deg);
	} 80% {
		transform: rotateY(144deg);
	} 85% {
		transform: rotateY(108deg);
	} 90% {
		transform: rotateY(72deg);
	} 95% {
		transform: rotateY(36deg);
	} 100% {
		transform: rotateY(0deg);
	}
}

nav {
	margin-left: 1.5em;
}

h1 {
	margin: 1em 0;
	text-transform: capitalize;
}

.nav-menu, .footer-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 0.5em;
}

.nav-menu-list {
	cursor: pointer;
	margin: 1em;
}

.nav-menu-list:hover {
	color: #1B5BDD;
}

.list-activ {
	border-top: 2px solid rgb(16, 209, 26);
	margin-top: calc(1em - 2px);
}

.Home {
	display: flex;
	flex-flow: column;
	align-items: center;
}

video {
	width: 100%;
	height: 100%;
	margin: 10em 0;
}

.Home-Container {
	display: flex;
	flex-direction: row;
}

.Home-Container-Text, .Home-Container-Photo {
	flex-basis: 50%;
}

.Home-UT, .Home-WK, .Home-Mech, .Home-About {
	margin: 4em 0;
	height: 36em;
}

.Home-UT-Intro-Header, .Home-WK-Intro-Header {
	text-align: center;
}

.Home-UT-Intro-Header > img, .Home-WK-Intro-Header > img {
	margin: 2em;
	width: 50%;
}

.Home-UT-BG {
	background: url("../img/homeUT.png") no-repeat;
}

.Home-WK-BG {
	background: url("../img/homeWK.jpg") no-repeat;
}

.Home-Mech-BG {
	background: url("../img/homeMech.jpg") no-repeat;
}

.Home-About-BG {
	background: url("../img/homeabout.jpg") no-repeat;
}

.Home-BG {
	background-size: cover;
	background-position: center;
	height: 40em;
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
	margin: 2em;
}

.footer-menu-list {
	display: block;
	text-decoration: none;
	color: #ddd;
	background-color: #00600b;
	border: 1px dashed #000;
	border-radius: 8px;
	padding: 0.5em;
	margin: 0.25em;
}