body
{
	background-color: #001a00;
	color: #DDDDDD;
	margin: 0;
	font-size: 15px;
}

@media screen and (max-width: 900px) 

{
	.menu {width: 20%;}
	.player {width: 50%;}
}

h1
{
	text-align: center;
	background-color: #000000;
	letter-spacing: 3px;
	text-transform:uppercase;
	margin: 0;
	padding-bottom: 5px;
}

.menu
{
	padding: 10px;
	float: left;
}

ol
{
	padding: 0;
	list-style-type: none;
	font-size: 22px;
	display: inline-block;
}

ol a
{
	padding: 1px 3px 1px 3px;
	text-decoration: none;
	color: #ddd;
	display: block;
	background-color: #00a00f;
	border: 2px solid #000;
	border-radius: 8px;
}

ol a:hover
{
	background-color: #11b11f;
	color: #fff;
}

ol > li > ul
{
	list-style-type: none;
	font-size: 15px;
}

ol >li:hover > ul > li
{
	display:block;
}

ul > li:hover
{
	display:block;
}

ul > li
{
	list-style-type: none;
}

ul a
{
	padding-left: 3px;
	text-decoration: none;
	color: #ddd;
	display: block;
	background-color: #00600b;
	border: 1px dashed #000;
	border-radius: 8px;
}

ul a:hover
{
	background-color: #11b11f;
	color: #fff;
}

aside
{
	padding-bottom: 10px;
}

section
{
	display: flex;
}

.home-article
{
	padding: 10px;
	border: 2px solid #fff;
	width: 100%;
}

footer
{
	background-color: #000000;
	clear:both;
	text-align: center;
	padding: 10px;
}